body{
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    #root{
    width: 100vw;
    height: 100vh;
    display:grid;
    grid-template-columns: [primera] 1fr [segunda] 1fr [tercera] 1fr [cuarta];
    grid-template-rows: [primera] 1fr [segunda] 3fr [tercera] 3fr [cuarta];
    nav{
        grid-row: primera/segunda;
        grid-column: primera/cuarta;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-between;
        background-color:rgb(255, 255, 255);
        #navImg{
            width: 1fr;
            display: flex;
            justify-content: end;
            align-items: center;
            img{
                width: 20vh;
            }
        }
        #navTitulo{
            width: 1fr;
            display: flex;
            justify-content: start;
            align-items: center;
            h1{
                color: black;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
        }
        #navLinks{
            width: 1fr;
            display: flex;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            li{
                margin: 1vw;
                width: max-content;
                padding: 0% 5%;
                height: fit-content;
                border: solid;
                border-color: black;
                border-radius: 100px;
                background-color: whitesmoke;
                a{
                    color: black;
                    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                }
            }
        }
    }
    }
    }