@use "./pages/app.scss";
@use "./components/navbar.scss";
@use "./components/cartwidget.scss";
@use "./components/itemList.scss";
@use "./components/productcard.scss";
@use "./components/footer.scss";
