
body{
    background-color: grey;
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        
    }
    #root{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr); 
        overflow: scroll;
    }
    }
