#cartwidget{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    button{
        height: 40%;
        width: 40%;
        background-color: white;
        border: solid;
        border-color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #popuplista{
        position: absolute;
        color: black;
        padding: 50%;
        border: solid;
        border-radius: 40px;
        top: 90%;
        background-color: white;
        max-height: 50vh;
        overflow: scroll;
        ul{
            li{
                
                position: relative;
                padding-bottom: 10%;
                width: 100%;
                border-bottom: solid;
                list-style: none;
                font-size: large;
                img{
                    position: absolute;
                    width: 40%;
                    left: -50%;
                    top: 20%;
                }
            }
        }
        
    }
}