nav{
        height: auto;
        width: 100%;
        grid-row: 1/1;
        grid-column: 1/5;
        background-color:rgb(255, 255, 255);
        #nav{
            height: 100%;
            display: grid;
            grid-template-columns: repeat(4,1f);
            align-items: center;
            justify-content: start;
            gap: 10%;
            width: 100%;
            @media(max-width:720px){
                gap: 10%;
                display: flex;
            }
            #navImg{
                grid-column: 1;
                @media(max-width:720px){
                    display: none;
                }
                img{
                    width: 50%;
                    @media(max-width:1200px){
                        width: 100%;
                    }
                }
            }
            #navTitulo{
                grid-column: 2;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    color: black;
                    font-size: 3vw;
                    @media(max-width:720px){
                        font-size: 5vw;
                    }
                }
            }
            #navLinks{
                grid-column: 4;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 5%;
                @media(max-width:720px){
                    flex-direction: column;
                    grid-column: 2;
                }
                li{
                    padding: 10%;
                    border: solid ;
                    border-color: black;
                    border-radius: 100px;
                    text-align: center;
                    list-style: none;
                    &:hover{
                        background-color: yellow;
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        color: black;
                    }
                }
            }
            #cartwidget{
                grid-column: 5/7;
                width: 50%;
                height: 100%;
                button{
                    width: 100%;
                    position: relative;
                    &:hover{
                        background-color: yellow;
                    }
                    span{
                        position: absolute;
                        top: 90%;
                        right: 80%;
                        border-radius: 100%;
                        color: white;
                        background-color: red;
                        padding: 5% 10% 5% 10%;
                        z-index: 10;
                    }
                    img{
                        width: 100%;
                        z-index: 100;
                        @media(max-width:720px){
                            width: 50%;
                            height: 50%;
                        }
                    }
                }
            }
        }
        
        
    }