nav{
        height: 100%;
        width: 100%;
        grid-row: primera/segunda;
        grid-column: primera/cuarta;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:rgb(255, 255, 255);
        #nav{
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            width: 100%;
            #navImg{
                height: 100%;
                width: 10%;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            #navTitulo{
                width: 25%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    color: black;
                }
            }
            #navLinks{
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                li{
                    width: 30%;
                    height: 30%;
                    border: solid ;
                    border-color: black;
                    border-radius: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 5%;
                    &:hover{
                        background-color: yellow;
                    }
                    a{
                        width: 100%;
                        height: 100%;
                        color: black;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            #cartwidget{
                width: 20%;
                height: 100%;
                button{
                    position: relative;
                    &:hover{
                        background-color: yellow;
                    }
                    span{
                        position: absolute;
                        top: 50%;
                        right: 35%;
                        border-radius: 100%;
                        color: white;
                        background-color: red;
                        width: 15%;
                        height: 30%;
                    }
                }
            }
        }
        
        
    }