.productcard{
        display:flex;
        flex-direction:column;
        text-align:center;
        align-items:center;
        background-color:white;
        padding:1%;
        border-radius:100px;
        width:auto;
        height:100%;
        justify-content: center;
        margin-right: 5%;
        margin-bottom: 5%;
        img{
            width:80%;
            height:50%;
            border-radius: 100px;
        }
    }