@keyframes cambio {
    0%{
        background-color:rgba(255, 255, 255, 0.762);
    }
    100%{
        background-color: yellow;
    }
}
@keyframes retorno {
    0%{
        background-color: yellow;
    }
    100%{
        background-color:rgba(255, 255, 255, 0.762);
    }
}
.productcard{
        display:flex;
        flex-direction:column;
        text-align:center;
        align-items:center;
        gap: 10%;
        background-color:rgba(255, 255, 255, 0.762);
        padding:1%;
        border-radius:100px;
        height:100%;
        justify-content: center;
        img{
            width:80%;
            height:50%;
            border-radius: 100px;
        }
        span{
            font-size: x-large;
            
        }
        button{
            background-color: white;
            color: black;
            font-size: larger;
            padding: 5%;
        }
    }
.Touched{
    animation: cambio 0.6s  linear forwards;
}
.Untouched{
    animation: retorno 0.6s  linear forwards;
}