.productcard{
        display:flex;
        flex-direction:column;
        text-align:center;
        align-items:center;
        gap: 10%;
        background-color:rgba(255, 255, 255, 0.762);
        padding:1%;
        border-radius:100px;
        width:auto;
        height:100%;
        justify-content: center;
        img{
            width:80%;
            height:50%;
            border-radius: 100px;
        }
        span{
            font-size: x-large;
            
        }
    }