body {
  background-color: grey;
}
body * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body #root {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  overflow: scroll;
}

nav {
  height: auto;
  width: 100%;
  grid-row: 1/1;
  grid-column: 1/5;
  background-color: rgb(255, 255, 255);
}
nav #nav {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1f);
  align-items: center;
  justify-content: start;
  gap: 10%;
  width: 100%;
}
@media (max-width: 720px) {
  nav #nav {
    gap: 10%;
    display: flex;
  }
}
nav #nav #navImg {
  grid-column: 1;
}
@media (max-width: 1200px) {
  nav #nav #navImg {
    display: none;
  }
}
nav #nav #navImg img {
  width: 50%;
}
nav #nav #navTitulo {
  grid-column: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav #nav #navTitulo h1 {
  color: black;
  font-size: 3vw;
}
@media (max-width: 720px) {
  nav #nav #navTitulo h1 {
    font-size: 5vw;
  }
}
nav #nav #navLinks {
  grid-column: 4;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}
@media (max-width: 720px) {
  nav #nav #navLinks {
    flex-direction: column;
    grid-column: 2;
  }
}
nav #nav #navLinks li {
  padding: 10%;
  border: solid;
  border-color: black;
  border-radius: 100px;
  text-align: center;
  list-style: none;
}
nav #nav #navLinks li:hover {
  background-color: yellow;
}
nav #nav #navLinks li a {
  width: 100%;
  height: 100%;
  color: black;
}
nav #nav #cartwidget {
  grid-column: 5/7;
  width: 50%;
  height: 100%;
}
nav #nav #cartwidget button {
  width: 100%;
  position: relative;
  z-index: 100;
}
nav #nav #cartwidget button:hover {
  background-color: yellow;
}
nav #nav #cartwidget button span {
  position: absolute;
  top: 90%;
  right: 80%;
  border-radius: 100%;
  color: white;
  background-color: red;
  padding: 5% 10% 5% 10%;
  z-index: 10;
}
@media (max-width: 1200px) {
  nav #nav #cartwidget button span {
    display: none;
  }
}
nav #nav #cartwidget button img {
  width: 100%;
  user-select: none;
  pointer-events: none;
}
@media (max-width: 720px) {
  nav #nav #cartwidget button img {
    width: 50%;
    height: 50%;
  }
}

#cartwidget {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#cartwidget button {
  height: 40%;
  width: 40%;
  background-color: white;
  border: solid;
  border-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#cartwidget #popuplista {
  position: absolute;
  color: black;
  padding: 50%;
  border: solid;
  border-radius: 40px;
  top: 90%;
  background-color: white;
  max-height: 50vh;
  overflow: scroll;
}
#cartwidget #popuplista ul li {
  position: relative;
  padding-bottom: 10%;
  width: 100%;
  border-bottom: solid;
  list-style: none;
  font-size: large;
}
#cartwidget #popuplista ul li img {
  position: absolute;
  width: 40%;
  left: -50%;
  top: 20%;
}

#list {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2/5;
  background-color: white;
  justify-content: center;
  align-items: center;
}
#list .nameList {
  width: 100%;
  border-top: 3px solid black;
  border-width: 3px;
}
#list .nameList h2 {
  color: black;
  text-align: center;
  font-size: 50px;
  background-color: white;
}
#list #cargando {
  color: black;
  padding: 50px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: xx-large;
}
#list .itemList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.503);
  overflow: scroll;
  gap: 5%;
}

@keyframes cambio {
  0% {
    background-color: rgba(255, 255, 255, 0.762);
  }
  100% {
    background-color: yellow;
  }
}
@keyframes retorno {
  0% {
    background-color: yellow;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.762);
  }
}
.productcard {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10%;
  background-color: rgba(255, 255, 255, 0.762);
  padding: 1%;
  border-radius: 100px;
  height: 100%;
  justify-content: center;
}
.productcard img {
  width: 80%;
  height: 50%;
  border-radius: 100px;
}
.productcard span {
  font-size: x-large;
}
.productcard button {
  background-color: white;
  color: black;
  font-size: larger;
  padding: 5%;
}

.Touched {
  animation: cambio 0.6s linear forwards;
}

.Untouched {
  animation: retorno 0.6s linear forwards;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5%;
  grid-column: 1/5;
  grid-row: 5/5;
  background-color: white;
}
footer div {
  color: black;
  width: 1fr;
}

/*# sourceMappingURL=app.css.map */
